.MessageCard {
  display: flex;
  width:100%;
  margin:25px 0;
}

.peepsInfo {
  width:25%;
  display: flex;
}

.peepsId {
  font-size: 8px;
  margin: 15px auto;
}

.peepsname {
  font-size: 20px;
  margin: auto;
}

.messageArea {
  text-align: left;
  margin-left: 45px;
}

.MessageBox{
  width:75%;
}

.date{
  font-size:13px;
}
