* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header{
  background-color: red;
}

.status {
  display: flex;
  background-color:yellow;
}

.messagesArea {
  height: 87%;
  overflow-y: auto;
}

.chatArea {
  width: 100%;
  height: 55px;
  display: flex;
}

.sendbtn {
  width: 10%;
  height: 100%;
}

.textArea {
  width: 90%;
  height: 100%;
  font-size: 20px;
}
